.blog__content p {
    margin-bottom: 2rem;
    line-height: 2.6rem;
    color: #5C5C5C;
    font-size: 1.6rem;
}


.blog__image-square {
    aspect-ratio: 23/20;
}

.blog__image-rect {
    aspect-ratio: 31/20;
}