.why-oasis {
    background-color: #D53908;
}

.world-section {
    background: #FFF6DD;
    aspect-ratio: 2/1;
}

@media screen and (min-width: 990px) {
    .home-banner {
        background-color: #010E0B;
    }
    
    .home-banner__wrapper {
        padding: calc(1.5rem + (100vw - 700px) * (15 - 90) / (700 -  1000)) 2rem;
    }
    
    .home-banner__image-wrapper {
        right: 0;
        bottom: 0
    }
}

@media screen and (min-width: 640px) {
    .world-section__wrapper {
        background: url('../assests/images/world.png') no-repeat right;
    }
}